# This is breast cancer classification project
### It id devided in several parts:
* Data reading and cleaning
* [EDA](#EDA)
* Visualizations
* Models

In [91]:
# some base imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# additional imports
import sys
first_steps_path = r"C:\Users\Windows\Desktop\study\data_science_projects\utils\common_utils"
if first_steps_path not in sys.path:
    sys.path.append(first_steps_path)
from first_steps import first_descriptions
# some basic settings
pd.set_option('display.max_columns', 100)

plt.style.use('ggplot')

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Data reading and cleaning

In [100]:
cancer_raw_data = pd.read_csv("SEER Breast Cancer Dataset .csv")
# there are mistake in data, so it has fully-nulled column, so we drop it
cancer_raw_data = cancer_raw_data.drop('Unnamed: 3', axis = 1)

In [101]:
first_steps.first_descriptions(cancer_raw_data)

************************************************* Dataset first description **************************************************
****************************************************** Head of dataset *******************************************************

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead

*************************************************** Pandas-Generated info ****************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   Grade                   4024 non-null   object
 7   A Stage                 4024 non-null   object
 8   Tumor Size              4024 non-null   int64
 9   Estrogen Status         4024 non-null   object
 10  Progesterone Status     4024 non-null   object
 11  Regional Node Examined  4024 non-null   int64
 12  Reginol Node Positive   4024 non-null   int64
 13  Survival Months         4024 non-null   int64
 14  Status                  4024 non-null   object
dtypes: int64(5), object(10)
memory usage: 471.7+ KB

None

************************************************ Categorical features unique *************************************************
Race
['Other (American Indian/AK Native, Asian/Pacific Islander)' 'White'
 'Black']

Marital Status
['Married (including common law)' 'Divorced' 'Single (never married)'
 'Widowed' 'Separated']

T Stage
['T2' 'T1' 'T3' 'T4']

N Stage
['N3' 'N2' 'N1']

6th Stage
['IIIC' 'IIIA' 'IIB' 'IIA' 'IIIB']

Grade
['Moderately differentiated; Grade II' 'Poorly differentiated; Grade III'
 'Well differentiated; Grade I' 'Undifferentiated; anaplastic; Grade IV']

A Stage
['Regional' 'Distant']

Estrogen Status
['Positive' 'Negative']

Progesterone Status
['Positive' 'Negative']

Status
['Alive' 'Dead']

****************************************************** Dublicate check *******************************************************
Number of dublicates is : 1
********************************************************* NaN check **********************************************************
Total number of NaN is : 0
Number of NaN by column  :
 Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

### Data cleaning plan:
* **Seems like we have one dublicate, we'll delete it**  
* **Some categorical features can be transformed in 0 or 1**  
* **Also we'll separate data from out target column**

In [105]:
# drop dublicates

cancer_raw_data = cancer_raw_data.drop_duplicates()
assert cancer_raw_data.duplicated().sum() == 0

# boolean columns transform

boolean_columns = [
    'Estrogen Status',
    'Progesterone Status'
]
for column in boolean_columns:
    cancer_raw_data[column] = cancer_raw_data[column].apply(lambda x: 1 if x=='Positive' else 0)
    
# target transform
target = cancer_raw_data['Status'].apply(lambda x: 1 if x=='Dead' else 0)

# EDA

In [108]:
target.value_counts()

0    3407
1     616
Name: Status, dtype: int64

**Looks like we have unbalanced classes  
In that case we'll learn and apply some techniques to fix it further on in modeling**